#game-field {
  position: relative;
  background-color: bisque;
  width: 650px;
  height: 650px;
  /* setting up flex-box */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

#bomberman {
  background-color: green;
  width: 54px;
  height: 54px;
  position: absolute;
  top: 54px;
  left: 54px;
}

.simple-enemy {
  background-color: blueviolet;
  width: 54px;
  height: 54px;
  position: absolute;
  top: 70px;
  left: 54px;
}

.game-tile {
  /* margin: 1px; */
  border: 1px, solid, black;
  height: 10px;
  width: 10px;
}

.wall {
  background-color: grey;
}

.invincible {
  background-color: #495d63;
}

.no-wall {
  background-color: #8caa6f;
}

.border {
  background-color: #20282b;
}

.bomb-explosion {
  background-color: orangered;
}

.bomb {
  background-color: black;
}
